body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #d3d7cf;
}

a {
  color: #3465a4;
}

div#canvas
{
    background-color: #fff;
    border: 1px solid #888a85;
    border-radius: 8px;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    position: absolute;
    overflow: hidden;
}

div.box
{
    display: block;
    max-width: 300px;
    position: absolute;
    left: 8px;
    background-color: #eeeeec;
    font-size: 11px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
}