body {
  padding: 6em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3465a4;
}

ul#events
{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 1024px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

ul#events li
{
    display: block;
    max-width: 512px;
    position: absolute;
    left: 8px;
    background-color: #eee;
    font-size: 11px;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
    list-style-type: none;
}