input.search

ul#events

script(type='text/javascript')
    $.ajax({
        url: '/events',
        success: function(data)
        {
            mint = data[0].t;
            maxt = data[data.length - 1].t;
            $.each(data, function(index, element)
            {
                $('ul#events').append("<li id='e" + element.id + "'>" + element.content + "</li>");
                $('#e' + element.id).css('top', '' + Math.floor((element.t - mint) / (maxt - mint) * 500) + 'px');
            });
        }
    });
    
    $("input.search").keypress(function(e)
    {
        if (e.which == 13)
        {
            $("li").remove();
            console.log('/search/' + $("input.search").val());
            $.ajax({
                url: '/search/' + $("input.search").val(),
                success: function(data)
                {
                    mint = data[0].t;
                    maxt = data[data.length - 1].t;
                    $.each(data, function(index, element)
                    {
                        $('ul#events').append("<li id='e" + element.id + "'>" + element.content + "</li>");
                        $('#e' + element.id).css('top', '' + Math.floor((element.t - mint) / (maxt - mint) * 500) + 'px');
                    });
                }
            });
        }
    });
