ul#events

script(type='text/javascript')
    $.ajax({
        url: '/events',
        success: function(data)
        {
            $.each(data, function(index, element)
            {
                $('ul#events').append("<li id='e" + element.id + "'>" + element.content + "</li>");
            });
        }
    });
    