!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.7.1.min.js') 
    script(src='/javascripts/jquery.calendars.min.js') 
    script(src='/javascripts/jquery.calendars.plus.min.js') 
    script(src='/javascripts/jquery.calendars.julian.min.js') 
    script(src='/javascripts/jquery.mousewheel.min.js')
    script(src='/javascripts/timely.js') 
  body!= body
  